# Model 1: SVM - Video game resale price predictor

In [2]:
#import dependancies
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from google.colab import files
import io
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [3]:
print (uploaded['merged_games_df.csv'][:200].decode('utf-8') + '...')

NameError: name 'uploaded' is not defined

In [4]:
# import CSV
videogame_df = pd.read_csv(io.StringIO(uploaded['merged_games_df.csv'].decode('utf-8')))
videogame_df.head()

NameError: name 'io' is not defined

In [4]:
# convert NA to 0 and check data types
clean_df = videogame_df.fillna(0)
clean_df.dtypes

Name             object
Platform         object
Year              int64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales      int64
Console          object
Game Title       object
Price           float64
Mean               bool
Median             bool
dtype: object

In [5]:
# assign number values to platforms
platform_value = {
    "2600":0,
    "GEN":1,
    "N64":2,
    "NES":3,
    "PS":4,
    "SAT":5,
    "SCD":6,
    "SNES":7
}
clean_df['Platform_num'] = clean_df['Platform'].map(platform_value)
clean_df.head()

                 Name Platform  Year  ...   Mean Median  Platform_num
0  ADVENTURES OF TRON     2600  1981  ...  False  False             0
1             AIRLOCK     2600  1981  ...  False  False             0
2               ALIEN     2600  1981  ...   True   True             0
3        ARMOR AMBUSH     2600  1981  ...  False  False             0
4           ASTEROIDS     2600  1980  ...  False  False             0

[5 rows x 16 columns]

In [6]:
# Assign number values to Genres
genre_value = {
    "Action":0,
    "Adventure":1,
    "Fighting":2,
    "Misc":3,
    "Platform":4,
    "Puzzle":5,
    "Racing":6,
    "Role-Playing":7,
    "Shooter":8,
    "Simulation":9,
    "Sports":10,
    "Strategy":11
}
clean_df['Genre_num'] = clean_df['Genre'].map(genre_value)
clean_df.head()

                 Name Platform  Year  ... Median Platform_num  Genre_num
0  ADVENTURES OF TRON     2600  1981  ...  False            0          0
1             AIRLOCK     2600  1981  ...  False            0          0
2               ALIEN     2600  1981  ...   True            0          0
3        ARMOR AMBUSH     2600  1981  ...  False            0          0
4           ASTEROIDS     2600  1980  ...  False            0          8

[5 rows x 17 columns]

In [7]:
clean_df.dtypes

Name             object
Platform         object
Year              int64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales      int64
Console          object
Game Title       object
Price           float64
Mean               bool
Median             bool
Platform_num      int64
Genre_num         int64
dtype: object

## insert chart(s) here for quick viz

In [ ]:
# scatter plot and/or Seaborn pair plot TBD

In [8]:
# define outcome/y
target = clean_df["Mean"]
target_names = ["True", "False"]

In [9]:
# drop outcome from to make new DF for features/X
data = clean_df.drop(["Mean","Name","Platform","Publisher","Console","Game Title","Median","Genre","JP_Sales","Other_Sales","NA_Sales","EU_Sales"],axis = 1, inplace=False)
feature_names = data.columns
data.head()

   Year  Global_Sales  Price  Platform_num  Genre_num
0  1981        670000  16.10             0          0
1  1981        390000  17.00             0          0
2  1981        790000  61.24             0          0
3  1981        170000   9.92             0          0
4  1980       4310000  14.06             0          8

In [10]:
# set up train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.30)

In [11]:
X_scaler = StandardScaler().fit(X_train)

In [12]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# set SVM classifier
svc_model = SVC(kernel='linear', verbose=True)

In [14]:
# fit training data
svc_model.fit(X_train,y_train)

[LibSVM]

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=True)

In [16]:
# Print the model score using the test data
svc_model.score(X_test, y_test)

0.7714285714285715

In [18]:
# Calculate the classification report
predictions = svc_model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

        True       0.75      1.00      0.86       271
       False       1.00      0.23      0.37       114

    accuracy                           0.77       385
   macro avg       0.88      0.61      0.62       385
weighted avg       0.83      0.77      0.72       385

## Analysis notes